@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI Bold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI Light Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI Semibold Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI Semilight.ttf') format('truetype');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: url('/fonts/Segoe UI Semilight Italic.ttf') format('truetype');
  font-weight: 350;
  font-style: italic;
  font-display: swap;
}
